.component__layout__container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.component__layout__navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color: white;
  padding: 10px;
}

.component__layout__logo img {
  width: 50px;
  height: auto;
}

.component__layout__nav-buttons {
  display: flex;
  flex-direction: column;
}

.component__layout__nav-buttons button {
  display: flex;
  align-items: center;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  margin: 10px 0;
}

.component__layout__content {
  flex: 1;
  padding: 20px;
}
